#pragma once

#define HOSTNAME "YOUR ROBOMOW ESP NAME"

#define SSID "YOUR WIFI SSID"
#define WIFISECRET "YOUR WIFI PASSWORD"

#define MQTTIP "YOUR MQTT SERVER IP"
#define MQTTPORT "YOUR MQTT SERVER PORT"
#define MQTTUSER "YOUR MQTT SERVER USERNAME"
#define MQTTPASS "YOUR MQTT SERVER SECRET"

#define ROBOSERIAL "YOUR ROBO SERIAL NUMBER\0" // \0 Termination required!!!
// Copy template file to "Settings.h" and change to your settings!!!